# Local development files
.vscode/
.DS_Store

# Python virtual environment
venv/
*.pyc
__pycache__/

# Data and model checkpoints
data/
checkpoints/

# Build artifacts
build/
dist/
*.egg-info

# Working docs
_working_docs/
